<%- include('includes/head.ejs') %>
<body>

      <%- include('includes/nav.ejs') %>


      
      <section class="probootstrap-section probootstrap-section-colored">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate">
              <h2>Welcome to Crown Institute of Technology</h2>
            </div>
          </div>
        </div>
      </section>

      <section class="probootstrap-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="probootstrap-image probootstrap-animate">
                <video id="myVideo_2" width="400" controls muted autoplay loop>
                  <source src="video/intro_video.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="probootstrap-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="probootstrap-flex-block">
                <div class="probootstrap-text probootstrap-animate">
                  <h3>About School</h3>
                  <p>At Crown Institute of Technology (CIT), we empower individuals and organizations to thrive in the digital age. As a
                  leading provider of cutting-edge training and mentorship programs, we bridge the gap between academia and industry,
                  fostering a culture of innovation, creativity, and excellence.</p>
                  <p><a href="/about" class="btn btn-primary">Learn More</a></p>
                </div>
                <div class="probootstrap-image probootstrap-animate" >
                  <video id="myVideo" width="600" controls muted autoplay loop>
                    <source src="video/intro_video.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>

                </div>
            </div>
          </div>
        </div>
      </section>

      <section class="probootstrap-section" id="probootstrap-counter">
        <div class="container">
          
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
              <div class="probootstrap-counter-wrap">
                <div class="probootstrap-icon">
                  <i class="icon-users2"></i>
                </div>
                <div class="probootstrap-text">
                  <span class="probootstrap-counter">
                    <span class="js-counter" data-from="0" data-to="180" data-speed="5000" data-refresh-interval="50">1</span>
                  </span>
                  <span class="probootstrap-counter-label">Students Enrolled</span>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
              <div class="probootstrap-counter-wrap">
                <div class="probootstrap-icon">
                  <i class="icon-user-tie"></i>
                </div>
                <div class="probootstrap-text">
                  <span class="probootstrap-counter">
                    <span class="js-counter" data-from="0" data-to="15" data-speed="5000" data-refresh-interval="50">1</span>
                  </span>
                  <span class="probootstrap-counter-label">Certified Teachers</span>
                </div>
              </div>
            </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
              <div class="probootstrap-counter-wrap">
                <div class="probootstrap-icon">
                  <i class="icon-library"></i>
                </div>
                <div class="probootstrap-text">
                  <span class="probootstrap-counter">
                    <span class="js-counter" data-from="0" data-to="90" data-speed="5000" data-refresh-interval="50">1</span>%
                  </span>
                  <span class="probootstrap-counter-label">Getting a Job</span>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
               
               <div class="probootstrap-counter-wrap">
                <div class="probootstrap-icon">
                  <i class="icon-smile2"></i>
                </div>
                <div class="probootstrap-text">
                  <span class="probootstrap-counter">
                    <span class="js-counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="50">1</span>%
                  </span>
                  <span class="probootstrap-counter-label">Students Satisfaction</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="probootstrap-section probootstrap-section-colored probootstrap-bg probootstrap-custom-heading probootstrap-tab-section" style="background-image: url(img/slider_2.jpg)">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center section-heading probootstrap-animate">
              <h2 class="mb0">Events to Watch out for</h2>
            </div>
          </div>
        </div>
        <div class="probootstrap-tab-style-1">
          <ul class="nav nav-tabs probootstrap-center probootstrap-tabs no-border">
            <li class="active"><a data-toggle="tab" href="#featured-news">Featured News</a></li>
            <li><a data-toggle="tab" href="#upcoming-events">Upcoming Events</a></li>
          </ul>
        </div>
      </section>

      <section class="probootstrap-section probootstrap-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              
              <div class="tab-content">

                <div id="featured-news" class="tab-pane fade in active">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="owl-carousel" id="owl1">
                        <!-- END item -->
                        <% if (news.length===0) { %>
                          <div class="item">
                            <h3>No news available</h3>
                            <p>check again later for more update on crown Institute of Technology.</p>
                          </div>
                        <% } else { %>
                        <% news.forEach(event => { %>
                        <div class="item">
                          <a href="#" class="probootstrap-featured-news-box">
                            <figure class="probootstrap-media"><img id="myImage" src="<%= event.imgUrl %>" alt="<%= event.title %>" class="img-responsive"></figure>
                            <div class="probootstrap-text">
                              <h3><%= event.title %></h3>
                              <p><%= event.description %></p>
                              <span class="probootstrap-date"><i class="icon-calendar"></i><%= event.date %></span>
                              <span class="probootstrap-location"><i class="icon-user2"></i>By <%= event.position %></span>
                            </div>
                          </a>
                        </div>
                        <% }); %>
                        <% } %>
                        <!-- END item -->
                      </div>
                    </div>
                  </div>
                  <!-- END row -->
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <p><a href="/news" class="btn btn-primary">View all News</a></p>  
                    </div>
                  </div>
                </div>
                <div id="upcoming-events" class="tab-pane fade">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="owl-carousel" id="owl2">
                        <% if (events.length===0) { %>
                          <div class="item">
                            <h3>No new Event</h3>
                            <p>check again later for more update on crown Institute of Technology.</p>
                          </div>
                        <% } else { %>
                        <% events.forEach(event => { %>
                        <div class="item">
                          <a href="#" class="probootstrap-featured-news-box">
                            <figure class="probootstrap-media"><img id="myImage" src="<%= event.imgUrl %>" alt="<%= event.title %>" class="img-responsive"></figure>
                            <div class="probootstrap-text">
                              <h3><%= event.title %></h3>
                              <span class="probootstrap-date"><i class="icon-calendar"></i><%= event.date %></span>
                              <span class="probootstrap-location"><i class="icon-location2"></i><%= event.location %></span>
                            </div>
                          </a>
                        </div>
                        <% }); %>
                        <% } %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <p><a href="/events" class="btn btn-primary">View all events</a></p>  
                    </div>
                  </div>
                </div>

              </div>
            
            </div>
          </div>
        </div>
      </section>

      <section class="probootstrap-section probootstrap-section-colored probootstrap-bg probootstrap-custom-heading probootstrap-tab-section" style="background-image: url(img/slider_2.jpg); height: 250px;">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
              <h2>Our Featured Courses</h2>
              <p class="lead">Explore our diverse range of in-demand courses tailored to equip you with the skills needed to succeed in today's technology-driven industries.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="probootstrap-section probootstrap-bg-white probootstrap-border-top">
        <div class="container">
          <div class="row">
            <% if (course.length === 0) { %>
              <div class="col-md-6">
                <div class="probootstrap-service-2 probootstrap-animate" id="myImage_2">
                  <div class="text">
                    <h3>No course available</h3>
                    <p>No new course available check back later for more update</p>
                  </div>
                </div>
              </div>
            <% } else { %>
              <% course.forEach(course => { %>
            <div class="col-md-6" >
              <div class="probootstrap-service-2 probootstrap-animate" style="background: url('<%= course.imgUrl %>'); background-size: contain;">
                
                <div class="text try">
                  <span class="probootstrap-meta"><i class="icon-calendar2"></i> <%= course.date %></span>
                  <h3><%= course.title %></h3>
                  <p><%= course.description %></p>
                  <p><a href="/<%= course.id %>" class="btn btn-primary">Enroll now</a></p>
                </div>
              </div>

            </div>
            <% }); %>
            <% } %>
            
          </div>
        </div>
      </section>

      <section class="probootstrap-section probootstrap-section-colored probootstrap-bg probootstrap-custom-heading probootstrap-tab-section" style="background-image: url(img/slider_2.jpg); height: 200px;">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
              <h2>Services Rendered</h2>
              <p class="lead">We offer industry-focused training and project solutions in ...</p>
            </div>
          </div>
        </div>
      </section>
          <!-- END row -->
      <section class="probootstrap-section probootstrap-bg-white probootstrap-border-top">
        <div class="container">
          <div class="row">
            <% if (service.length===0) { %>
              <div class="col-md-6">
                <div class="probootstrap-service-2 probootstrap-animate" id="myImage_2">
                  <div class="text">
                    <h3>No service available</h3>
                    <p>No service available check back later for more update</p>
                  </div>
                </div>
              </div>
            <% } else { %>
              <% service.forEach(course=> { %>
                <div class="col-md-6">
                  <div class="probootstrap-service-2 probootstrap-animate" style="background: url('<%= course.imgUrl %>'); background-size: contain;">
                    
                    <div class="text try_1" >
                      <h3>
                        <%= course.title %>
                      </h3>
                      <p>
                        <%= course.description %>
                      </p>
                      <p><a href="/contact" class="btn btn-primary">Sechdule Meeting Now</a></p>
                    </div>
                  </div>
    
                </div>
              <% }); %>
            <% } %>
      
          </div>
        </div>
      </section>
      <section class="probootstrap-section probootstrap-section-colored probootstrap-bg probootstrap-custom-heading probootstrap-tab-section" style="background-image: url(img/slider_2.jpg); height: 300px;">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
              <h2>Meet Our Qualified Teachers</h2>
              <p class="lead">Our team comprises seasoned professionals and industry leaders who bring real-world experience and expertise to the
              classroom.</p>
            </div>
          </div>
          <!-- END row -->
        </div>
      </section>
      <section class="probootstrap-section">
        <div class="container">
          <div class="row">
            <% if (teachers.length===0) { %>
              <div class="col-md-6">
                <div class="probootstrap-service-2 probootstrap-animate" id="myImage_2">
                  <div class="text">
                    <h3>No Instructor available</h3>
                    <p>No Instructor registered</p>
                  </div>
                </div>
              </div>
            <% } else { %>

              <% teachers.forEach(teacher => { %>
                <div class="col-md-3 col-sm-6">
                  <div class="probootstrap-teacher text-center probootstrap-animate" id="teacher">
                    <figure class="media">
                      <img src="<%= teacher.imgUrl %>" alt="<%= teacher.name %>" class="img-responsive" id="teacher_image">
                    </figure>
                    <div class="text">
                      <h3><%= teacher.name %></h3>
                      <p><%= teacher.profession %></p>
                      <p>(<%= teacher.position %>)</p>
                      <ul class="probootstrap-footer-social">
                        <li class="twitter"><a target="_blank" href="<%= teacher.portUrl %>"><i class="icon-linkedin"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              <% }); %>
            <% } %>
          </div>
        </div>
      </section>

      <section class="probootstrap-section probootstrap-bg probootstrap-section-colored probootstrap-testimonial" style="background-image: url(img/slider_4.jpg);">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
              <h2>Alumni Testimonial</h2>
              <p class="lead">Hear from our graduates who are making waves in the tech industry worldwide. Their success stories inspire us and
              underscore the impact of our world-class training programs.</p>
            </div>
          </div>
          <!-- END row -->
          <div class="row">
            <div class="col-md-12 probootstrap-animate">
              <div class="owl-carousel owl-carousel-testimony owl-carousel-fullwidth">
                <% if (alumni.length===0) { %>
                  <div class="col-md-6">
                    <div class="item" >
                      <div class="probootstrap-testimony-wrap text-center">
                        <h3>No Alumni comment</h3>
                      </div>
                    </div>
                  </div>
                <% } else { %>
                <% alumni.forEach(al=> { %>
                  <div class="item">
                    <div class="probootstrap-testimony-wrap text-center">
                      <figure>
                        <img src="<%= al.imgUrl %>" alt="<%= al.name %>">
                      </figure>
                      <blockquote class="quote">&ldquo;<%= al.comment %>&rdquo; <cite class="author"> &mdash; <span><%= al.name %></span></cite></blockquote>
                      <% if (isAuthenticated && userRole==='admin' ) { %>
                        <form action="/delete-alumni" method="POST">
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          <input type="hidden" value="<%= al._id %>" name="alumniId">
                          <button class="btn btn-primary" type="submit">Delete</button>
                        </form>
                      <% } %>
                    </div>
                  </div>
                <% }); %>
                <% } %>
              </div>
            </div>
          </div>
          <!-- END row -->
        </div>
      </section>

      <section
        class="probootstrap-section probootstrap-section-colored probootstrap-bg probootstrap-custom-heading probootstrap-tab-section"
        style="background-image: url(img/slider_2.jpg); height: 300px;">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
              <h2>WHY CHOOSE CIT</h2>
              <p class="lead">Our mission is to equip learners with the skills, knowledge, and expertise needed to succeed in
                an increasingly complex
                and interconnected world. We strive to make high-quality education accessible, affordable, and impactful.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="probootstrap-section">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="service left-icon probootstrap-animate">
                <div class="icon"><i class="icon-checkmark"></i></div>
                <div class="text">
                  <h3>Industry-Relevant Curriculum</h3>
                  <p>Courses designed to meet the demands of the modern workforce.</p>
                </div>
              </div>
              <div class="service left-icon probootstrap-animate">
                <div class="icon"><i class="icon-checkmark"></i></div>
                <div class="text">
                  <h3>Expert Trainers</h3>
                  <p>Learn from professionals with years of experience in their respective fields.</p>
                </div>
              </div>
              <div class="service left-icon probootstrap-animate">
                <div class="icon"><i class="icon-checkmark"></i></div>
                <div class="text">
                  <h3>Flexible Learning</h3>
                  <p>Online and in-person sessions tailored to your schedule.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service left-icon probootstrap-animate">
                <div class="icon"><i class="icon-checkmark"></i></div>
                <div class="text">
                  <h3>Hands-On Experience</h3>
                  <p>Gain practical skills through real-world projects and tasks.</p>
                </div>
              </div>
      
              <div class="service left-icon probootstrap-animate">
                <div class="icon"><i class="icon-checkmark"></i></div>
                <div class="text">
                  <h3>Global Opportunities</h3>
                  <p>Prepare for international careers with our training and application assistance services</p>
                </div>
              </div>
            </div>
          </div>
          <!-- END row -->
        </div>
      </section>
      

      <%- include('includes/footer.ejs') %>

    </div>
    <!-- END wrapper -->
    

<%- include('includes/end.ejs') %>