<%- include('includes/head.ejs') %>

    <body>
        <%- include('includes/nav.ejs') %>
            <main>
                <section class="container_2">
                    <div class="form">
                        <div>
                            <h2>Change password</h2>
                        </div>
                        <% if (errorMessage) { %>
                            <div class="input-group">
                                <p>
                                    <%= errorMessage %>
                                </p>
                            </div>
                            <% } %>
                                <form action="/password" method="POST">

                                    <input type="password" placeholder="Enter new paasword" name="password" id="password">
                                    <input type="password" placeholder="Confirm paasword" name="confirm_password" id="confirm_password">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <input type="hidden" name="userId" value="<%= userId %>">
                                    <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                                    <button class="btn btn-primary btn-lg btn-ghost probootstrap-animate"type="submit">Reset Password</button>
                                </form>
                    </div>
                </section>

            </main>
            <%- include('includes/footer.ejs') %>


                <%- include('includes/end.ejs') %>